<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js" > 
    </script>
    <script type="text/javascript">
var map;
var marker;
function initialize() {
    var mapOptions = {
        center: new google.maps.LatLng(-33.30578381949298, 26.523442268371582),
        zoom: 15
    };
    map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    google.maps.event.addListener(map, 'click', function(event){
        placeMaker(event.latLng)
    });
}
function placeMaker(location) {
    if(marker){
        marker.setPosition(location);
    }else{
        marker = new google.maps.Marker({
            position: location,
            map: map
        })
    }
}
    </script>

    <meta charset="UTF-8">
    <title>Crime map</title>
</head>
<body onload="initialize()">
    <h1>Crime Map</h1>
    <p>A map of recent criminal activity in the Grahamstown area.</p>
    <div id="map-canvas" style="width:80%; height:500px;"></div>
    
    <div id="newcrimeform">
        <h2>Submit new crime</h2>
        <form action="/submitcrime" method="POST">
            <label for="category">Category</label>
            <select id="category" name="category">
                <option value="mugging">Mugging</option>
                <option value="breakin">Break-in</option>
            </select>
            <label for="date">Date</label>
            <input name="date" id="date" type="date">
            <label for="latitude">Latitude</label>
            <input type="text" name="latitude" id="latitude">
            <label for="longitude">Longitude</label>
            <input type="text" name="longitude" id="longitude">
            <label for="description">Description</label>
            <textarea id="description" name="description" placeholder="A brief but detailed description of the crime"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
